<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.engrLabs_390.engrlabs">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Getting user permission for internet access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_yabz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_yabz"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".TA_Section.insertCourseActivity"
            android:theme="@style/Theme.AppCompat.Light"
        />
        <activity
            android:name=".TA_Section.CourseSectionSelection"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".TA_Section.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ExpandableRecycler"
            android:label="@string/title_activity_expandable_recycler_with_bottom_nav"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".TA_Section.FirebaseEmailPasswordAuth"
            android:label="EmailPasswordAuthen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notifications.AlarmReceiver">
            <intent-filter>
                <action android:name="mike.action.DISPLAY_NOTIDICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>